.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-container label {
    font-weight: bold;
}

.form-container .form-control {
    border-radius: 0.375rem;
}

.form-container .input-group-text {
    border-radius: 0.375rem;
    background-color: #f8f9fa;
}

.form-container .btn-primary {
    border-radius: 0.375rem;
    width: 100%;
}

.blue-header {
    color: blue !important;  /* to override the default bootstrap font-color */
    cursor: pointer;
    font-weight: bold;
}